# Logs
*.log

# Package artifacts
# STILE: Not ignored in v6-rethrow-oom-error branch because we want to use this branch like an npm package
# lib

# Package archive used by e2e tests
fork-ts-checker-webpack-plugin-0.0.0-semantic-release.tgz

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Editor directories and files
.idea

# Mac OS
.DS_Store
